<h1>Nuevo archivo</h1>

<%#= render 'form', archive: @archive %>
<%= render 'form', archive: [@category, @archive] %>

<%#= link_to 'Regresar', archives_path %>
<%= link_to 'Regresar', categories_path %>
