<h1>Editando archivo</h1>

<%= render 'form', archive: [@category,@archive] %>

<%#= link_to 'Show', @archive %> <!--| -->
<%#= link_to 'Back', archives_path %>
<%= link_to 'Regresar', categories_path %>
