<div class="row">

	<div class="col-3">
		<%= link_to icon('fas', 'folder', class: "fa-2x gray" ), category %>
		<%= link_to category.name, category, class:'fontstyle' %>
	</div>

	<div class="col-2"><%= link_to icon('fas', 'edit', class: "fa-2x"), edit_category_path(category) %></div>

	<div class="col-2"><%= link_to icon('fas', 'trash-alt', class: "fa-2x"), category, method: :delete, data: { confirm: '¿Estas seguro?' } %></div>
</div>
      