<table>
	<tr>
		<td>
			<%= link_to icon('fas', 'folder', class: "fa-2x"), category %>
			<strong><%= link_to category.name, category %></strong>	
		</td>
		<td><%= link_to icon('fas', 'edit', class: "fa-2x"), edit_category_path(category) %></td>
		<td><%= link_to icon('fas', 'trash-alt', class: "fa-2x"), category, method: :delete, data: { confirm: '¿Estas seguro?' } %></td>
	</tr>
</table>

