<p id="notice"><%= notice %></p>

<h1>Carpetas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <!-- <th>String</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @categories %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva carpeta', new_category_path %>
